.global-header {
  width: 100%;
  padding: 12px 24px;
  background-color: #FFFFFF; /* Light grey */
  border-bottom: 1px solid #DFE1E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
}

.staff-info, .location {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.staff-info-text {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  line-height: 1.2;
}

.staff-name {
  font-size: 18px;
}

.staff-role {
  font-size: 12px;
  text-transform: uppercase;
  color: #6B778C;
}
